@media (max-width: 1600px) {
  * {
    font-size: 20px;
  }

  .logo img {
    width: 300px;
  }

  main {
    gap: 50px;
  }

  h2, h2 > a {
    font-size: 30px;
  }

  .web-page ul li,
  .betman ul li,
  .toto ul li{
    border: solid 1px rgba(0, 0, 0, 0.352);
    width: 200px;
  }

  .betman ul li a:hover,
  .toto ul li a:hover {
    font-size: 25px;
  }


}