@media (max-width: 1600px) {
  * {
    font-size: 20px;
  }

  .logo video {
    width: 300px;
    margin-top: 20px;
    }

  main {
    gap: 50px;
    margin-top: 30px;
  }

  h2, h2 > a {
    font-size: 28px;
  }

  .web-page ul li,
  .betman ul li,
  .toto ul li{
    border: solid 1px rgba(0, 0, 0, 0.352);
    width: 200px;
  }

  .betman ul li a:hover,
  .toto ul li a:hover {
    font-size: 25px;
  }
}

@media (max-width: 900px) {
  .web-page ul,
  .betman ul {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
  }

  .toto ul {
    display: grid;
    grid-template-columns: 1fr 1fr;
  }

  .web-page,
  .toto,
  .betman {
    gap: 10px;
  }
}


@media (max-width: 600px) {
  .web-page ul,
  .betman ul,
  .toto ul {
    display: grid;
  }
}