* {
  margin: 0;
  padding: 0;

  text-decoration: none;
  list-style: none;

  color: #000;
  font-size: 30px;
  font-weight: 400;
  
  font-style: normal;
}

.sr-only {
	position: absolute;
	width: 1px;
	height: 1px;
	padding: 0;
	margin: -1px;
	overflow: hidden;
	clip-path: inset(50%);
	border: 0;
	clip: rect(0 0 0 0);
}

.hidden {
  display: none;
}

input,
button {
  cursor: pointer;
  font-family: inherit;
  font-size: inherit;
  font-weight: inherit;
  border: none;
}

input:focus {
  cursor: text;
}

