@import url("https://cdn.jsdelivr.net/gh/Nyannnnnng/GyeonggiTitleWoff/stylesheet.css");

body {
    font-family: "GyeonggiTitle", sans-serif;
    display: flex;
    flex-direction: column;
    gap: 30px;
    width: 100vw;
    height: 100vh;
}

header {
    text-align: center;
}

.logo p{
    font-size: 25px;
    color: goldenrod;
}

.logo {
    padding: 20px;
    font-size: 30px;
}

main {
  margin-top: -70px;
  height: 100%;
  display: flex;
  flex-direction: column;
  gap: 50px;
  text-align: center;
  align-items: center;
  justify-content: center;
}

.web-page,
.betman,
.toto {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.web-page ul,
.betman ul,
.toto ul{
  display: flex;
  gap: 10px;
}

.web-page ul li,
.betman ul li,
.toto ul li{
  border: solid 1px #ccc;
  width: 200px;
}

.web-page ul li a,
.betman ul li a,
.toto ul li a{
  display: block;
  line-height: 50px;
}

h2, h2 > a {
  font-size: 20px;
}

.web-page ul li:hover a,
.betman ul li:hover a,
.toto ul li:hover a{
  display: none;
}

.naver:hover{
  background-image: url(../image/naver.jpg);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.daum:hover {
  background-image: url(../image/daum.jpg);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.lotto:hover {
  background-image: url(../image/lotto.jpg);
  background-size: auto;
  background-position: 55% center;
  background-repeat: no-repeat;
}
