@import url("https://cdn.jsdelivr.net/gh/Nyannnnnng/GyeonggiTitleWoff/stylesheet.css");

body {
  font-family: "GyeonggiTitle", sans-serif;
  display: flex;
  flex-direction: column;
  /* gap: 30px; */
  width: 100vw;
  height: 100vh;
  
}

header {
  text-align: center;
}

/* .logo img {
  width: 300px;
  margin-top: -30px;
  margin-left: 10px;
} */

main {
  margin-top: -100px;
  height: 100%;
  display: flex;
  flex-direction: column;
  gap: 100px;
  text-align: center;
  align-items: center;
  justify-content: center;
}

.web-page,
.toto {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.betman {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
}

.betman h2 {
  margin-bottom: 10px;
}

.web-page ul,
.betman ul,
.toto ul{
  display: flex;
  gap: 20px;
}

.web-page ul li,
.betman ul li,
.toto ul li{
  border: solid 2px rgba(0, 0, 0, 0.352);
  border-radius: 10px;
  width: 250px;
}

.web-page ul li a,
.betman ul li a,
.toto ul li a{
  display: block;
  line-height: 50px;
}

h2, h2 > a {
  font-size: 40px;
}

.web-page ul li a:hover,
.betman-link:hover{
  color: rgba(0, 0, 0, 0);
}

.betman ul li a:hover,
.toto ul li a:hover {
  color: #fff;
  background-color: rgba(0, 0, 0, 0.768);
  border-radius: 10px;
  font-size: 40px;
}

.naver:hover{
  background-image: url(../image/naver.jpg);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.daum:hover {
  background-image: url(../image/daum.jpg);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.betman-link {
  padding: 20px 50px;
}

.betman-link:hover {
  background-image: url(../image/betman.png);
  background-size: 150px auto;
  background-position: center;
  background-repeat: no-repeat;
}

.lotto:hover {
  background-image: url(../image/lotto.png);
  background-size: 200px auto;
  background-position: 60% center;
  background-repeat: no-repeat;
}
